@model Vidly.ViewModels.MovieGenreViewModel

@{
    ViewBag.Title = "Movie Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Movies"))
{
    @Html.AntiForgeryToken()

    <div class="py-2 form-horizontal">
        <div class="col-md-offset-2 col-md-10">
            <h2>Movie Form</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DateReleased)
                    @Html.TextBoxFor(m => m.DateReleased, new { @class = "form-control", Placeholder = "1 Jan 2001" })
                    @Html.ValidationMessageFor(m => m.DateReleased)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NumberInStock)
                    @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NumberInStock)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.GenreId)
                    @* Using Drop down list args in selecList are: model/nameOfProperty/propertyText then adding display text *@
                    @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.GenreId)
                </div>
                <input type="submit" value="Add Movie" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @* This ties with the script section on our layout *@
}