@model Vidly.Models.Movie

@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Message</h1>
<hr/>
<h3>@Model.Name</h3>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Genre: @Model.DateReleased.ToLongDateString()</li>
    <li>Date Added: @Model.DateAdded.ToLongDateString()</li>
    <li>Number in Stock : @Model.NumberInStock</li>

</ul>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
