
@model Vidly.ViewModels.CustomerFormViewModel

@* importing to use as target properties  *@

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@* AcionName,ControllerName, FormMethodName  *@
@*Wrapping with using, form will be disposed and will render the closing form tag*@

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthday)
        @* Using TextBoxFor overload to display date as date picker *@
        @Html.TextBoxFor(m => m.Customer.Birthday, "{0:d MM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @* Using Drop down list args in selecList are: model/nameOfProperty/propertyText then adding display text *@
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MemberhipTypes, "Id", "Name"), "Select Membership Type ", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
    //No end form, block automatically inserts it
}


@*UI DatePicker: https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/using-the-html5-and-jquery-ui-datepicker-popup-calendar-with-aspnet-mvc/using-the-html5-and-jquery-ui-datepicker-popup-calendar-with-aspnet-mvc-part-4*@