@model Vidly.Models.Customer
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Message</h1>

<h3>@Model.Name</h3>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    <li>Name: @Model.Name</li>
    @if (Model.Birthday != null)
    {
        <li>Birthday: @Model.Birthday.Value.ToString("d")</li>
    }
    <li>Is Subscribe: @Model.IsSubscribedToNewsletter</li>

</ul>


@*Displaying Dates: https://stackoverflow.com/questions/28114874/html-displayfor-dateformat-mm-dd-yyyy*@